button {
	background-color: var(--accent);
	color: var(--text-primary);
	border-radius: 8px;
	padding: 8px;
	cursor: pointer;

	&:hover {
		background-color: #aa3bff;
	}

	&:active {
		background-color: #9e20ff;
	}
}
